{% extends "layout.html" %}

{% block content %}
    <div class="text-container">
        <h1>Login</h1>
        <form action="{{ url_for('security.login') }}" method="POST">
            {{ login_user_form.hidden_tag() }}
            <div>
                {{ login_user_form.email.label }} {{ login_user_form.email(size=32) }}
            </div>
            <div>
                {{ login_user_form.password.label }} {{ login_user_form.password(size=32) }}
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
{% endblock %}
